@import '/src/styles/breakpoints.scss';
@import '/src/styles/variables.scss';

.container {
  max-height: 100%;
  overflow: scroll;
  margin: 30px 20px;
  font-size: 1rem;
  @media screen and (min-width: $sm) {
    border: 1px solid $border-default;
  }

  .highscores .table {
    width: 100%;
  
    tr th {
      padding: 10px;
    }
  }

  .instructions ul.instruction-list {
    padding-left: 20px;
    padding-right: 10px;
    text-align: left;
    left: 100px;
  }
}
