<!--
  <div class="shoot" (click)="shoot()"></div>
  <div class="moveLeft" (click)="moveLeft()"></div>
  <div class="moveRight" (click)="moveRight()"></div>
-->

<canvas id="canvas" #canvas></canvas>

<img id="player" src="assets/game/shooter.png" alt="shooter" />
<img id="bullet" src="assets/game/bullet.png" alt="bullet" />
<img id="ufo" src="assets/game/ufo.png" alt="ufo" />

<div class="ground" style="width: calc(100vw - 60px);">
  <mat-divider></mat-divider>
</div>

<div class="life-dock">
  <img class="life" *ngIf="life>=1" [style.margin-left]="'0px'" src="assets/game/shooter.png" alt="shooter">
  <img class="life" *ngIf="life>=2" [style.margin-left]="'35px'" src="assets/game/shooter.png" alt="shooter">
  <img class="life" *ngIf="life>=3" [style.margin-left]="'70px'" src="assets/game/shooter.png" alt="shooter">
</div>

<span class="high-score"> SCORE {{ score | number: '7.0-0' }} </span>
