<div id="ufo-container"></div>

<div id="bullet-container"></div>


<img id="shooter" *ngIf="shooter" [style.margin-left]="shooterX+'px'" src="assets/game/shooter.png" alt="shooter" class="shooter shooter-active">

<div class="ground" [style.width]="'90%'">
  <mat-divider></mat-divider>
</div>

<div class="shooter-life-dock">
  <img *ngIf="life>=1" [style.margin-left]="'0px'" src="assets/game/shooter.png" alt="shooter" class="shooter">
  <img *ngIf="life>=2" [style.margin-left]="'35px'" src="assets/game/shooter.png" alt="shooter" class="shooter">
  <img *ngIf="life>=3" [style.margin-left]="'70px'" src="assets/game/shooter.png" alt="shooter" class="shooter">
</div>

<span class="high-score"> SCORE {{ score | number: '5.0-0' }} </span>
