#canvas {
  position: absolute;
}
#player, #bullet, #ufo {
  display: none;
}

.life {
  position: absolute;
  height: 20px;
  width: 30px;
}
.life-dock {
  position: absolute;
  margin-left: 40px;
  bottom: 30px;
}

.ground {
  background-image: url('src/assets/game/moving_stars.gif');
  position: absolute;
  height: 40px;
  width: 100vw;
  bottom: 0px;
}
.mat-divider {
  border-top-color: #00fc00;
}

.high-score {
  font-family: Korean Looks;
  position: absolute;
  color: #00fc00;
  right: 40px;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
}